body{
    height: 100vh;
}

a{
    color: #fff;
    text-decoration: none;
}

main{
    margin-top: 16vh;
    text-align: center
}

main nav a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #0055c4;
    border-radius: 5px;
    padding: 12px;
    transition: .3s ease;
    font-size: 1.1em;
}

main nav a:hover{
    background-color: #0055c4;
    color: #fff;
}

main section{
    margin-top: 4%;
    margin-bottom: 10%;
}

main section a{
    border-bottom: 3px solid #0055c4;
    font-size: 2em;
    cursor: default;
}

section.Certificados{
    margin: auto;
    width: 80%;
    height: 100vh;
    margin-bottom: 5%;
}


div.certificado-png{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #af0052d7;
    background-image: url("../img/certificados/certificado-html5.jpeg");
    background-size: cover;
    width: 700px;
    height: 500px;
}

div.certificado-png2{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #af0052d7;
    background-image: url("../img/certificados/certificado-css3.jpg");
    background-size: cover;
    width: 700px;
    height: 500px;
}

div.certificado-png3{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #af0052d7;
    background-image: url("../img/certificados/certificado-javascript.jpg");
    background-size: cover;
    width: 700px;
    height: 500px;
}

section.conteudos-sections{
    display: none;
}


@media (max-width: 773px) {
    div.certificado-png, div.certificado-png2, div.certificado-png3{
        display: none;
    }

    body{
        height: 100vh;
    }

    main nav{
        margin-top: 18%;
    }

    main section{
        margin-top: 22%;
    }
    section.conteudos-sections{
        display: block;
        position: relative;
        width: 85vw;
        margin: auto;
        height: 50vh;
    }
    
    section.conteudos-sections div.conteudos{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        height: 9vh;
        cursor: pointer;
        margin-bottom: 3vh;
        background-color: #0c0c0cea;
        box-shadow: 1px 1px #64646486;
        transition: .2s ease-in;
        
    }
    
    section.conteudos-sections div.conteudos:hover{
        background-color: #5555557e;
    }
    
    section.conteudos-sections a{
        text-align: center;
        width: 90vw;
        color: white;
    }
    
    section.conteudos-sections a:hover{
        color: #c5c5c5;
    }

    section.Certificados{
        height: 0%;
    }

    footer{
        display: none;
    }

}