body{
    height: auto;
}


.perfil{
    margin: auto;
    width: 100%;
}

.conteudos{
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: #0c0c0cea;
    border-radius: 10px;
    box-shadow: 1px 1px #64646486;
}

.conteudos div.textos{
    width: 100%;
    margin: auto;
    padding: 20px;
}

span{
    color: #0055c4;
}

h1{
    font-size: 2.2em;
}

p.frase{
    font-size: 1.4em;
    font-weight: 500;
    color: #9c9c9c;
    font-style: italic;
}

div.mais-info{
    width: 100vw;
    margin: auto;
    text-align: center;
}

nav.info{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: 100%;
}

nav.info a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #0055c4;
    border-radius: 5px;
    padding: 12px;
    transition: .3s ease;
    font-size: 1.1em;
    margin-bottom: 15%;
}

nav.info a:hover{
    background-color: #0055c4;
    color: #fff;
}


@media (max-width: 773px) {
    .conteudos{
        width: 90%;
        margin: auto;
        height: auto;
        padding: auto;
    }
    p.frase{
        font-size: 1.2em;
        line-height: 165%;

    }
    nav.info{
        padding-top: 8%;
        padding-bottom: 8%;
    }
}