section.Projetos{
    margin: auto;
    width: 80%;
    height: 100vh;
    margin-bottom: 5%;
}


div.projeto-png{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #0055c4d7;
    background-image: url("../img/projetos/breve.gif");
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 500px;
}

div.projeto-png2{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #0055c4d7;
    background-image: url("../img/projetos/breve.gif");
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 500px;
}

div.projeto-png3{
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #0055c4d7;
    background-image: url("../img/projetos/breve.gif");
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 500px;
}

span{
    color: #0055c4;
}

section.conteudos-sections{
    display: none;
}

@media (max-width: 773px) {
    div.projeto-png, div.projeto-png2, div.projeto-png3{
        display: none;
    }
    
    section.Projetos{
        height: 0%;
    }
    
    section.conteudos-sections{
        display: block;
        position: relative;
        width: 85vw;
        margin: auto;
        height: 50vh;
    }
    
    section.conteudos-sections div.conteudos{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        height: 9vh;
        cursor: pointer;
        margin-bottom: 3vh;
        background-color: #0c0c0cea;
        box-shadow: 1px 1px #64646486;
        transition: .2s ease-in;
        
    }
    
    section.conteudos-sections div.conteudos:hover{
        background-color: #5555557e;
    }
    
    section.conteudos-sections a{
        text-align: center;
        width: 90vw;
        color: white;
    }
    
    section.conteudos-sections a:hover{
        color: #c5c5c5;
    }

    footer{
        display: none;
    }

}

